div#preloader {
    position: fixed;
    visibility: hidden;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('/Content/img/red-kit.gif') 50% 50% no-repeat rgba(249, 249, 249, 0.35);
}